/* header */
/* nav-bar */
.navbar-collapse{
    justify-content:flex-end;
}

/* banner */
.jumbotron{
    background-image: url(../images/02-hero-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron .lead{
    background: transparent;
    text-align: right;
    background-color: rgba(164, 179, 32, 0.712);
    justify-content:flex-end;
}

 /* main */
.container-fluid{
    margin-bottom: 2rem;
}
 /* work   */
 .card{
    margin-top: 1.5rem;
 }

 .card-img{
    max-height: 25rem;
    object-fit: cover;
 }

 /* skills */
.list-group-item{
    text-align: center;
}
 /* about/contact  */

 /* footer  */